
<div class="card">
    <div class="card-header">
      Promblem description
    </div>
    <div class="card-body">
      <h5 class="card-title">Hard constrains</h5>
        <ul class="list-group">
          <li class="list-group-item">Cover	needs	to	be	fulfilled	(i.e.	no	shifts	must	be	left	unassigned).	</li>
          <li class="list-group-item">For	each	day	a	nurse	may	start	only	one	shift.	</li>
          <li class="list-group-item">Within	a	scheduling	period	a	nurse	is	allowed	to	exceed	the	number	of	hours	for	 which	
            they	are	available	for	their	department	by	at	most	4	hours.	</li>
          <li class="list-group-item">The	maximum	number	of	night	shifts	is	3	per	period	of	5	consecutive	weeks</li>
          <li class="list-group-item">A	nurse	must	receive	at	least	2	weekends	off	duty	per	5	week	period.	A	weekend	off	duty	
            lasts	60	hours	including Saturday	00:00	to	Monday	04:00.	</li>
          <li class="list-group-item">Following	a	series	of	at	least	2	consecutive	night	shifts	a	42	hours	rest	is	required.	</li>
          <li class="list-group-item">During	any	period	of	24	consecutive	hours,	at	least	11	hours	of	rest is	required.</li>
          <li class="list-group-item">A	 night	shift	has	to	be	followed	by	at	least	14	hours	rest.	An	exception	is	that	once	in	a	
            period	of	21	days	for	24	consecutive	hours,	the	resting	time	may	be	reduced	to	8	hours.</li>
          <li class="list-group-item">The	number	of	consecutive	night	shifts	is	at	most	3.	</li>
          <li class="list-group-item">The	number	of	consecutive	shifts	(workdays)	is	at	most	6.	</li>
        </ul>
      <h5 class="card-title">Soft constrains</h5>
      <p class="card-text">cos tam</p>
    </div>
  </div>

