<div class="container-fluid">
  <div class="card d-print-none">
    <div class="card-header">
      Constraints
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm">
          <h5 class="card-title">Schedule table</h5>
          <button type="button" class="btn btn-primary" (click)="getSchedule()">Generate Schedule</button>
        </div>
        <div class="col-sm" *ngIf="scheduleModel.hardConstraintsTestsResult">
          <h5>Hard Constraints</h5>
          <div [ngClass]="{'constraint-passed' : true, 'constraint-failed': scheduleModel.hardConstraintsTestsResult[i]!==0}" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            {{i}}: Broken {{scheduleModel.hardConstraintsTestsResult[i]}} times
          </div>
        </div>
        <div class="col-sm" *ngIf="scheduleModel.softConstraintsTestsResult">
          <h5>Soft Constraints</h5>
          <div [ngClass]="{'constraint-passed' : true, 'constraint-failed': scheduleModel.softConstraintsTestsResult[i]!==0}" *ngFor="let i of [1,2,3,4,5,6]">
            {{i}}: Broken {{scheduleModel.softConstraintsTestsResult[i]}} times
          </div>
          <div class="dropdown-divider"></div>
          <p>COST: {{scheduleCost}}</p>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="scheduleModel.schedule">
    <div class="schedule-week transparent-week d-print-none">
      <pz-one-day-schedule *ngFor="let id of dayIds" [data]="scheduleModel.firstWeek[0][id]" [day]="id"></pz-one-day-schedule>
    </div>
    <div *ngFor="let i of [0,1,2,3,4]" class="schedule-week">
      <pz-one-day-schedule *ngFor="let id of dayIds" [data]="scheduleModel.schedule[i][id]" [day]="id"></pz-one-day-schedule>
    </div>
  </div>
</div>