.schedule-week {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 15px 6px;
  border: 1px dashed #0069D9;
  border-radius: 2px;
}

.container-fluid {
  margin-top: 20px;
}

.constraint-passed {
  background-color: #D4EDDA;
}

.constraint-failed {
  background-color: #F8D7DA;
}

.transparent-week {
  opacity: 0.5;
}
